body{
    background: url("fondo.png");
    background-repeat: no-repeat;
    background-size:cover;    
    font-family: 'Wendy One', sans-serif;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #06192C;
}
a{
	text-decoration-line: unset;
    color:#9362BD;
    font-size: 20px;
}
a:hover{
	color:#04ab74;
	border-bottom: solid;
	border-color:#04ab74;
}
.header{
    padding: 10px;
}
canvas{
    margin-top: 20px;
    background-color: black;
}
.instrucciones{
    width: 1000px;
    display: grid;
    grid-template-rows: 1fr 2fr; /* Dos filas */
}
table{
    width: 900px;
    margin:auto;
    border-collapse:separate; 
    border-spacing: 0 3em;
    font-size: 30px;
}
p{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 30px; 
}
#demo{
    width: 100px;
}