
body{
    background: url("fondo.png");
    background-repeat: no-repeat;
    background-size:cover;    
    font-family: 'Wendy One', sans-serif;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #06192C;
}
a{
	text-decoration-line: unset;
    color:#9362BD;
    font-size: 20px;
}
.header{
    padding: 10px;
}
p{
    margin-left: 50px;
    font-size: 30px; 
    width: 500px;
    margin:auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
h1{
    width: 400px;
    margin: auto;
    margin-top: 75px;
}
h2{
    width: 400px;
    margin:auto;
    margin-bottom:40px;
}
.fotos_herramientas{
    width:1200px;
    margin:auto;
    margin-bottom: 40px;
}
h5{
    font-size: 30px; 
    width:1000px;
    margin:auto;
}